.DS_Store

samples/pdf-sample/.cache-tests

samples/pdf-sample/.cache

samples/pdf-sample/.cache-main

samples/pdf-sample/.classpath

samples/pdf-sample/.cache

samples/pdf-sample/.settings/org.scala-ide.sdt.core.prefs

module/.cache-main

samples/pdf-sample/.project

samples/pdf-sample/.classpath

samples/pdf-sample/.cache

samples/pdf-sample/.settings/org.scala-ide.sdt.core.prefs
