@(css: String, image: String)

<!DOCTYPE html>

<html>
    <head>
        <title>PDF Sample</title>
        <meta charset="UTF-8">
		<style>
			@css
		</style>
    </head>
    <body>
	    Imagem remota: <img src="https://www.google.pt/images/srpr/logo11w.png"/><br/>
	    Hello world! <br/>
	    <div style="color:blue">
	    	This is blue text
	    </div>
		<table border="1">
			<tr>
				<td>
					Ação
				</td>
				<td>
					á ó ã õ í ç
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>4</td>
			</tr>
		</table>
		<div style="font-family: 'Open Sans';">
			<h1>Kyrillic characters:  текст (шрифт) -- \u0418\u044f</h1>
			Cyrillic: Этот текст не отображается<br>
			German characters: öäüßÖÄÜ<br>
			Portuguese Caracteres: À pà ó ção<br>
			Italian: è à ò
		</div>
		<img src="@image" alt="Image base 64" />
		<div class="mystyle">
			Inline css
		</div>
    </body>
</html>