@(message: String)

<!DOCTYPE html>

<html>
    <head>
        <title>PDF Sample</title>
        <meta charset="UTF-8">
    </head>
    <body>
	    Imagem remota: <img src="https://www.google.pt/images/srpr/logo11w.png"/><br/>
	    Hello world! <br/>
	    @message <br/>
	    <div class="blue">
	    	This is blue text
	    </div>
		<table border="1">
			<tr>
                Ação
                á ó ã õ í ç
			</tr>
			<tr>
				<td>3</td>
				<td>4</td>
			</tr>
		</table>
            <div class="arial">
                <h1>Kyrillic characters:  текст (шрифт Arial) -- \u0418\u044f</h1>
                German characters: öäüßÖÄÜ<br>
                Portuguese Caracteres: À pà ó ção<br>
                Italian: è à ò
            </div>
    </body>
</html>